hydra-core==1.3.2
omegaconf==2.3.0
accelerate==0.25.0
autopep8==2.0.4
huggingface-hub==0.20.2
kiwisolver==1.4.4
leven==1.0.4
Levenshtein==0.23.0
loguru==0.7.2
Markdown==3.4.4
markovify==0.9.4
marshmallow==3.20.2
numpy
opencv-python
openpyxl
optuna==3.5.0
pandas==2.0.3
Pillow==9.5.0
plotly==5.16.1
QtPy==2.4.1
scikit-learn==1.2.2
SciPy
seaborn==0.12.2
SecretStorage==3.3.3
segregation==2.5
semver==3.0.2
stemming==1.0.1
stop-words==2018.7.23
tangled-up-in-unicode==0.2.0
timm==0.9.12
wandb==0.16.2
spacy==3.7.2
nltk==3.2.4
gensim==4.3.2
transformers==4.37.0
torch==2.1.2
tensorflow
seqeval==1.2.2
evaluate==0.4.1
sentencepiece==0.1.99
onnxruntime_gpu==1.17.1
onnx==1.16.0
onnxconverter_common==1.14.0
# autocorrect
# spellchecker
# pyspellchecker